$gray1: rgb(85, 85, 85);
$gray2: rgb(170, 170, 170);

.calendarItem {
    // padding: 0 8px;
    height: 69px;
    border-radius: 8px;
    // font-size: 18px;
    font-weight: bold;
    // margin-top: 4px;
    border: 2px dotted black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $gray2;
    font-size: 22px;

    p {
        margin-top: 3px;
    }
}

.calendarItem.current {
    font-weight: bold;
    border: 2px solid black;
    font-size: 20px;
    color: white;
    background-color: $gray1;
    // image-rendering:pixelated;
    // image-rendering:-moz-crisp-edges;
    // image-rendering:crisp-edges
}

.timeLabel {
    position: absolute;
    align-self: flex-start;
    font-size: 16px;
    left: 8px;
    top: 0px;
}

.timeLabelEnd {
    position: absolute;
    align-self: flex-end;
    font-size: 16px;
    right: 8px;
    top: 0px;
}

.timelineContainer {
    display: grid;
    grid-template-rows: repeat(12, 24px);
    row-gap: 2px;
}

.emptyCalendarItem {
    border-radius: 8px;
    border: 1px dashed $gray1;
    // image-rendering:pixelated;
    // image-rendering:-moz-crisp-edges;
    // image-rendering:crisp-edges
}